<!-- Contenedor principal que cubre toda la pantalla con un fondo gris y centra el contenido -->
<div _ngcontent-ng-c2317718536=""
  class="fixed flex w-full h-full top-0 left-0 pt-2 pr-2 pb-2 pl-[80px] bg-gray-100 items-center justify-center ng-tns-c2317718536-2 ng-trigger ng-trigger-fadeAnimation">
  <!-- Caja contenedora interna con bordes redondeados, fondo blanco y sombra -->
  <div _ngcontent-ng-c2317718536=""
    class="relative flex flex-col w-full h-full border border-gray-300 bg-white p-2 shadow-md shadow-gray-400 rounded-3xl ng-tns-c2317718536-2 ng-star-inserted"
    style="">
    <!-- Segunda caja contenedora con bordes redondeados y con scroll vertical -->
    <div _ngcontent-ng-c2317718536=""
      class="flex flex-col w-full h-full border border-gray-300 rounded-2xl overflow-y-auto ng-tns-c2317718536-2">
      <!-- Encabezado con botones para cambiar de sección -->
      <div _ngcontent-ng-c2317718536=""
        class="flex w-full h-[10%] border-b border-gray-300 items-center justify-center divide-x divide-gray-300 ng-tns-c2317718536-2">
        <!-- Botón activo para añadir una novedad -->
        <button _ngcontent-ng-c2317718536=""
          class="ng-tns-c2317718536-2 bg-sky-500 duration-200 ease-in-out flex h-full items-center justify-center rounded-tl-[15px] shadow-inner shadow-sky-600 text-white transition w-full">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Añadir novedad</span>
        </button>
        <!-- Botón deshabilitado para lista de novedades -->
        <button _ngcontent-ng-c2317718536=""
          class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center text-gray-400 transition w-full"
          disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Lista Novedades</span>
        </button>
        <!-- Botón deshabilitado para una sección futura -->
        <button _ngcontent-ng-c2317718536=""
          class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center text-gray-400 transition w-full"
          disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Próximamente</span>
        </button>
        <!-- Otro botón deshabilitado para una sección futura -->
        <button _ngcontent-ng-c2317718536=""
          class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center rounded-tr-[15px] text-gray-400 transition w-full"
          disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Próximamente</span>
        </button>
      </div>

      <!-- Contenedor principal para el contenido de la sección activa -->
      <div _ngcontent-ng-c2317718536=""
        class="flex flex-col w-full h-[90%] p-2 shadow-inner bg-gray-200 shadow-gray-300 ng-tns-c2317718536-2 ng-star-inserted">
        <!-- Subcontenedor para la barra de selección y botón de agregar novedad -->
        <div _ngcontent-ng-c2317718536=""
          class="flex w-full h-[20%] gap-2 bg-white px-2 rounded-t-2xl shadow-md shadow-gray-300 border-t border-r border-l border-gray-300 ng-tns-c2317718536-2">
          <!-- Contenedor del selector de tipo de novedad -->
          <div _ngcontent-ng-c2317718536=""
            class="flex w-full h-full items-center justify-center align-middle gap-2 ng-tns-c2317718536-2">
            <!-- Selector de tipo de novedad con dos opciones -->
            <select _ngcontent-ng-c2317718536="" name="tipoNovedad" ngDefaultControl="" id="tipoNovedad"
              class="flex w-full p-0 px-4 py-4 rounded-full shadow-md shadow-gray-300 border border-gray-300 text-slate-500 font-semibold transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0 ng-tns-c2317718536-2 ng-untouched ng-pristine ng-valid">
              <option _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 ng-star-inserted" value="0: 1">Novedad
                General</option>
              <option _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 ng-star-inserted" value="0: 1">Novedad
                Tecnología</option>
              <option _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 ng-star-inserted" value="1: 2">
                Próximamente</option>
            </select>
          </div>

          <!-- Contenedor del botón de agregar novedad -->
          <div _ngcontent-ng-c2317718536=""
            class="flex w-full h-full items-center justify-center align-middle ng-tns-c2317718536-2">
            <button _ngcontent-ng-c2317718536=""
              class="flex w-full p-4 border border-gray-300 text-slate-500 rounded-full font-semibold bg-white shadow-md shadow-gray-300 transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0 ng-tns-c2317718536-2">Agregar
              Novedad</button>
          </div>
        </div>
        <!-- Subcontenedor principal para el contenido adicional que se agregará más adelante -->
        <div _ngcontent-ng-c2317718536=""
          class="flex w-full h-[80%] px-2 pt-2 pb-0 bg-white shadow-md shadow-gray-300 border border-gray-300 rounded-b-2xl ng-tns-c2317718536-2">
          <!--INICIO DE CONTENIDO INTERNO-->

          <!--SEPARA LOS 3 CONTENEDORES-->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-0 w-full h-full">

            <!-- CONTENEDOR PRINCIPAL -->
            <div class="w-full p-1 flex flex-col justify-start items-center h-full overflow-y-auto">
              <div
                class="bg-white p-1 sm:p-2 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg w-full flex flex-col justify-start items-start transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl flex-grow">
                <h2 class="text-base font-medium mb-1 text-gray-600 text-center w-full">Tipo de novedad tecnológica</h2>

                <!-- SELECT PRINCIPAL -->
                <select [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)" name="tipoNovedadTecnologica"
                  id="tipoNovedadTecnologica"
                  class="flex w-full p-0 px-2 py-2 rounded-full shadow-md shadow-gray-300 border border-gray-300 text-slate-500 font-semibold transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0"
                  placeholder="Seleccione la prioridad">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option value="Hardware">Hardware</option>
                  <option value="Software">Software</option>
                  <option value="Aplicativos">Aplicativos</option>
                  <option value="Impresoras">Impresoras</option>
                  <option value="Camaras">Camaras</option>
                  <option value="Infoturno">Infoturno</option>
                  <option value="Biometrico">Biometrico</option>
                  <option value="Redes">Redes</option>
                  <option value="otros">Otro</option>
                </select>
                <!--FIN DEL SELECT PRINCIPAL-->

                <!-- INPUT PARA OTRA CATEGORÍA PRINCIPAL -->
                <div class="w-full mt-4" *ngIf="selectedCategory === 'otros'">
                  <input type="text" [(ngModel)]="otherCategory" placeholder="Ingrese la novedad"
                    class="w-full p-2 border border-gray-300 rounded-lg">
                </div>

                <!-- CHIPS DE SELECCIÓN MULTIPLE -->
                <div class="w-full mt-4" *ngIf="selectedCategory && selectedCategory !== 'otros'">
                  <div class="flex">
                    <div class="border border-gray-300 p-2 rounded-lg h-32 overflow-y-auto flex-1">
                      <div *ngFor="let subCategoria of getSubCategories()" class="flex items-center mb-1">
                        <input type="checkbox" [value]="subCategoria" (change)="onCheckboxChange($event)" class="mr-2">
                        <label class="text-gray-700">{{subCategoria}}</label>
                      </div>
                    </div>
                    <div class="flex items-center ml-2">
                      <button (click)="generateSelectedSubCategories()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1.5 px-3 rounded-full flex items-center justify-center shadow-md transition-all duration-300 ease-in-out transform hover:scale-105"
                        aria-label="Generate selected subcategories">✔</button>
                    </div>
                  </div>
                </div>

                <!-- INPUT PARA OTRA SUBCATEGORÍA -->
                <div class="w-full mt-4" *ngIf="showOtherInput">
                  <input type="text" [(ngModel)]="otherSubCategory" placeholder="Ingrese la novedad"
                    class="w-full p-2 border border-gray-300 rounded-lg">
                </div>

                <!-- CONTENEDOR PARA MOSTRAR LAS SUBCATEGORÍAS GENERADAS -->
                <div class="w-full mt-4 flex-grow overflow-y-auto"
                  *ngIf="generatedSubCategoriesList.length > 0 && !isOtherChecked">
                  <div class="border border-gray-300 p-2 rounded-lg w-full">
                    <div *ngFor="let subCategory of generatedSubCategoriesList"
                      class="flex items-center justify-between mb-2 w-full">
                      <div class="flex items-center flex-1 mr-2">
                        <span class="mr-2">{{ subCategory }}</span>
                        <select [(ngModel)]="subCategoryStatus[subCategory]"
                          class="mr-2 border border-gray-300 p-1 rounded-lg flex-1">
                          <option value="buen_estado">Buen estado</option>
                          <option value="mal_estado">Mal estado</option>
                        </select>
                      </div>
                      <button (click)="removeGeneratedSubCategory(subCategory)"
                        class="bg-red-500 hover:bg-red-700 text-white font-semibold py-1 px-2 rounded-full shadow-md transition-all duration-300 ease-in-out transform hover:scale-105"
                        aria-label="Remove subcategory">✖</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--CONTENEDOR 2-->
            <div class="w-full p-1 flex flex-col justify-start items-center h-full overflow-hidden">
              <div
                class="bg-white p-1 sm:p-2 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg h-full w-full flex flex-col justify-start items-start overflow-y-auto transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl">
                <h2 class="text-base font-medium mb-1 text-gray-600 text-center w-full">Prioridad</h2>
                <select [(ngModel)]="priority" (change)="onPriorityChange($event)" name="tipoNovedadPrioridad"
                  id="tipoNovedadPrioridad"
                  class="flex w-full p-0 px-2 py-2 rounded-full shadow-md shadow-gray-300 border border-gray-300 text-slate-500 font-semibold transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0"
                  placeholder="Seleccione la prioridad">
                  <option value="" disabled selected>Seleccione</option>
                  <option value="critico">Crítico</option>
                  <option value="alto">Alto</option>
                  <option value="medio">Medio</option>
                  <option value="bajo">Bajo</option>
                </select>

                <!--DESCRIPCIÓN-->
                <h2 class="text-base font-medium mt-4 mb-4 text-gray-600 text-center w-full">Descripción</h2>
                <form class="w-full">
                  <div class="mb-4 w-full">
                    <textarea id="textArea" rows="6"
                      class="w-full border border-gray-300 rounded-lg shadow-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 resize-none p-2"
                      placeholder="Describa la novedad" [(ngModel)]="novedad.descripcion" name="descripcion"></textarea>
                  </div>
                </form>

                <!--¿QUEDO RESUELTO LA NOVEDAD?-->
                <h2 class="text-base font-medium mb-4 text-gray-600 text-center w-full">¿Quedó resuelta la novedad?
                </h2>
                <div class="w-full flex justify-center">
                  <button (click)="setOption('yes')"
                    [ngClass]="{'bg-gradient-to-r from-blue-400 to-blue-600 text-white': selectedOption === 'yes', 'bg-gray-200 text-gray-600': selectedOption !== 'yes'}"
                    class="w-12 px-2 py-1 rounded-full font-medium transition-all duration-300 ease-in-out transform hover:scale-105 text-sm">Sí</button>
                  <button (click)="setOption('no')"
                    [ngClass]="{'bg-gradient-to-r from-red-400 to-red-600 text-white': selectedOption === 'no', 'bg-gray-200 text-gray-600': selectedOption !== 'no'}"
                    class="w-12 px-2 py-1 rounded-full font-medium transition-all duration-300 ease-in-out transform hover:scale-105 text-sm ml-12">No</button>
                </div>
              </div>
            </div><!--FIN DEL CONTENEDOR 2-->

            <!--CONTENEDOR 3-->
            <div class="w-full p-1 flex flex-col justify-start items-center h-full overflow-y-auto">
              <div
                class="bg-white px-8 pt-6 pb-10 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg sm:px-12 h-full w-full max-w-7xl mx-auto flex flex-col justify-start items-center transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl">
                <!--Contenido para las imagenes-->
              </div>
            </div>
          </div>

          <!--FIN DEL CONTENIDO INTERNO-->
        </div>
      </div>
    </div>
  </div>
</div>