<!-- Contenedor principal que cubre toda la pantalla con un fondo gris y centra el contenido -->
<div _ngcontent-ng-c2317718536="" class="fixed flex w-full h-full top-0 left-0 pt-2 pr-2 pb-2 pl-[80px] bg-gray-100 items-center justify-center ng-tns-c2317718536-2 ng-trigger ng-trigger-fadeAnimation">
  <!-- Caja contenedora interna con bordes redondeados, fondo blanco y sombra -->
  <div _ngcontent-ng-c2317718536="" class="relative flex flex-col w-full h-full border border-gray-300 bg-white p-2 shadow-md shadow-gray-400 rounded-3xl ng-tns-c2317718536-2 ng-star-inserted" style="">
    <!-- Segunda caja contenedora con bordes redondeados y con scroll vertical -->
    <div _ngcontent-ng-c2317718536="" class="flex flex-col w-full h-full border border-gray-300 rounded-2xl overflow-y-auto ng-tns-c2317718536-2">
      <!-- Encabezado con botones para cambiar de sección -->
      <div _ngcontent-ng-c2317718536="" class="flex w-full h-[10%] border-b border-gray-300 items-center justify-center divide-x divide-gray-300 ng-tns-c2317718536-2">
        <!-- Botón activo para añadir una novedad -->
        <button _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 bg-sky-500 duration-200 ease-in-out flex h-full items-center justify-center rounded-tl-[15px] shadow-inner shadow-sky-600 text-white transition w-full">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Añadir novedad</span>
        </button>
        <!-- Botón deshabilitado para lista de novedades -->
        <button _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center text-gray-400 transition w-full" disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Lista Novedades</span>
        </button>
        <!-- Botón deshabilitado para una sección futura -->
        <button _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center text-gray-400 transition w-full" disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Próximamente</span>
        </button>
        <!-- Otro botón deshabilitado para una sección futura -->
        <button _ngcontent-ng-c2317718536="" class="ng-tns-c2317718536-2 bg-gray-200 border-gray-400 duration-200 ease-in-out flex h-full items-center justify-center rounded-tr-[15px] text-gray-400 transition w-full" disabled="">
          <span _ngcontent-ng-c2317718536="" class="tracking-wide font-bold ng-tns-c2317718536-2">Próximamente</span>
        </button>
      </div>

      <!-- Contenedor principal para el contenido de la sección activa -->
      <div _ngcontent-ng-c2317718536="" class="flex flex-col w-full h-[90%] p-2 shadow-inner bg-gray-200 shadow-gray-300 ng-tns-c2317718536-2 ng-star-inserted">
        <!-- Subcontenedor para la barra de selección y botón de agregar novedad -->
        <div _ngcontent-ng-c2317718536="" class="flex w-full h-[20%] gap-2 bg-white px-2 rounded-t-2xl shadow-md shadow-gray-300 border-t border-r border-l border-gray-300 ng-tns-c2317718536-2">
          <!-- Contenedor del selector de tipo de novedad -->
          <div _ngcontent-ng-c2317718536="" class="flex w-full h-full items-center justify-center align-middle gap-2 ng-tns-c2317718536-2">
            <select [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)" name="tipoNovedad" id="tipoNovedad" class="flex w-full p-0 px-4 py-4 rounded-full shadow-md shadow-gray-300 border border-gray-300 text-slate-500 font-semibold transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0 ng-tns-c2317718536-2 ng-untouched ng-pristine ng-valid" placeholder="Seleccione la prioridad">
              <option value="" disabled selected>Seleccione tipo de novedad</option>
              <option value="Hardware">Hardware</option>
              <option value="Software">Software</option>
              <option value="Aplicativos">Aplicativos</option>
              <option value="Impresoras">Impresoras</option>
              <option value="Camaras">Camaras</option>
              <option value="Infoturno">Infoturno</option>
              <option value="Biometrico">Biometrico</option>
              <option value="Redes">Redes</option>
              <option value="otros">Otro</option>
            </select>
          </div>

          <!--Contenedor de agreagar la prioridad de la novedad-->
          <div class="flex w-full h-full items-center justify-center align-middle gap-2">
            <select class="flex w-full max-w-lg p-0 px-4 py-4 rounded-full shadow-md shadow-gray-300 border border-gray-300 text-slate-500 font-semibold transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0" placeholder="Seleccione la prioridad" [(ngModel)]="priority" name="priority">
                <option value="" disabled selected>Seleccione la prioridad</option>
                <option value="critico">Crítico</option>
                <option value="alto">Alto</option>
                <option value="medio">Medio</option>
                <option value="bajo">Bajo</option>
            </select>
        </div>        
          <!--fin del contenedor-->

          <!-- Contenedor del botón de agregar novedad -->
          <div _ngcontent-ng-c2317718536="" class="flex w-full h-full items-center justify-center align-middle ng-tns-c2317718536-2">
            <button _ngcontent-ng-c2317718536="" class="flex w-full p-4 border border-gray-300 text-slate-500 rounded-full font-semibold bg-white shadow-md shadow-gray-300 transition ease-in-out duration-200 hover:border-sky-400 active:border-sky-600 focus:border-sky-500 focus:ring-0 ng-tns-c2317718536-2">Agregar Novedad</button>
          </div>
        </div>
        <!-- Subcontenedor principal para el contenido adicional que se agregará más adelante -->
        <div _ngcontent-ng-c2317718536="" class="flex w-full h-[80%] px-2 pt-2 pb-0 bg-white shadow-md shadow-gray-300 border border-gray-300 rounded-b-2xl ng-tns-c2317718536-2">
          <!--INICIO DE CONTENIDO INTERNO-->

          <!--Contenedor principal-->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-0 w-full h-full overflow-y-auto">

            <!-- Columna 1: Tipo de novedad -->
            <div class="w-full p-1 flex flex-col justify-start items-center">
              <div class="bg-white px-6 py-8 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg sm:px-10 h-full w-full flex flex-col justify-start items-start transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl">
                <!-- Subcategorías -->
                <div *ngIf="selectedCategory && selectedCategory !== 'otros'" class="mt-0">
                    <label class="block text-gray-700 text-sm font-bold mb-0">{{ selectedCategory }}</label>
                    <div class="flex items-center justify-center w-full mb-2">
                        <div class="relative w-48">
                            <select multiple [(ngModel)]="selectedSubCategories" class="block appearance-none w-full h-24 border border-gray-300 rounded-lg shadow-md py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" name="selectedSubCategories">
                                <option *ngFor="let subCategoria of getSubCategories()" [value]="subCategoria">{{ subCategoria }}</option>
                            </select>
                        </div>
                        <button (click)="addSelectedSubCategories()" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1.5 px-3 rounded-full flex items-center justify-center min-w-[35px] h-[35px] shadow-md transition-all duration-300 ease-in-out transform hover:scale-105" aria-label="Add selected subcategories">✔</button>
                    </div>
                    <div *ngIf="selectedSubCategories.includes('Otro')" class="mt-2">
                        <label class="block text-gray-700 text-sm font-bold mb-1">Especifique</label>
                        <input type="text" [(ngModel)]="otherSubCategory" class="w-full border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" placeholder="Especifique la subcategoría">
                    </div>
                </div>              
                            
                <div class="p-4 bg-white rounded-lg shadow-md max-w-md mx-auto space-y-4">
                  <!--Apartado de los select de evaluación-->
                  <div *ngFor="let subCategory of selectedSubCategoriesList" class="p-4 bg-gray-100 rounded-lg flex items-center space-x-4">
                    <ng-container>
                      <span class="bg-gray-200 py-1 px-3 rounded text-center flex-shrink-0 w-1/3">{{ subCategory }}</span>
                      <select [(ngModel)]="subCategoryStatus[subCategory]" class="w-full md:w-1/3 border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" name="subCategoryStatus">
                        <option value="" disabled>Seleccione</option>
                        <option value="buen_estado">Buen estado</option>
                        <option value="mal_estado">Mal estado</option>
                      </select>
                      <button (click)="removeSubCategory(subCategory)" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-1.5 px-3 rounded-full flex items-center justify-center min-w-[35px] h-[35px] shadow-md transition-all duration-300 ease-in-out transform hover:scale-105" aria-label="Remove subcategory">✖</button>
                    </ng-container>
                  </div>
                </div>

                <!--Apartado del tipo de novedad-->
                <div *ngIf="selectedCategory === 'otros'" class="mt-4">
                  <label class="text-base font-medium mb-2 text-gray-600 text-center w-full">¿Cual es su tipo de novedad?</label>
                  <input type="text" [(ngModel)]="otherCategory" class="w-full border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" placeholder="Especifique el tipo de novedad" name="otherCategory">
                </div>
              </div>
            </div>

            <!-- Columna 2: Prioridad de la novedad -->
            <div class="w-full p-1 flex flex-col justify-start items-center">
              <div class="bg-white px-3 pt-4 pb-4 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg sm:px-8 h-full w-full flex flex-col justify-start items-start transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl">
                <!--Apartado descripción-->
                <h2 class="text-base font-medium mt-0 mb-1 text-gray-600 text-center w-full">Descripción</h2>
                <form class="w-full">
                  <div class="mb-4 w-full">
                    <textarea id="textArea" rows="4"
                      class="w-full border border-gray-300 rounded-lg shadow-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 resize-none"
                      style="padding: 2px;" 
                      placeholder="Describa la novedad" [(ngModel)]="novedad.descripcion" name="descripcion"></textarea>
                  </div>
                </form>
                                               
                
                <!--Apartado sí o no-->
                <h2 class="text-base font-medium mb-4 text-gray-600 text-center">¿Quedó resuelta la novedad?</h2>
                <div class="flex justify-center">
                  <label class="flex items-center space-x-2 cursor-pointer ml-14">
                    <input type="radio" name="option" value="yes" class="form-radio text-blue-500 h-4 w-4">
                    <span class="text-gray-600 text-base font-medium">Sí</span>
                  </label>
                  <label class="flex items-center space-x-2 cursor-pointer ml-6">
                    <input type="radio" name="option" value="no" class="form-radio text-red-500 h-4 w-4">
                    <span class="text-gray-600 text-base font-medium">No</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Columna 3: Evidencia fotográfica -->
            <div class="w-full p-1 flex flex-col justify-start items-center">
              <div class="bg-white px-8 pt-6 pb-10 shadow-2xl ring-1 ring-gray-900/5 sm:rounded-lg sm:px-12 h-full w-full max-w-7xl mx-auto flex flex-col justify-start items-center transition duration-300 transform hover:-translate-y-1 hover:shadow-2xl">
              </div>
            </div>
          </div>
          <!-- FIN DEL CONTENIDO INTERNO -->
        </div>
      </div>
    </div>
  </div>
</div>